body {

}

@font-face {
  font-family: futura;
  src: url(futura.ttf);
}

.center {
  text-align: center;
}

.left-spacing {
  margin-left: 20px;
}

.top-spacing {
  margin-top: 40px;
}

.right-spacing {
  margin-right: 10px;
}

.section {
  padding-top:70px;
  padding-bottom: 60px;
  border-bottom: 1px solid lightgray;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: all 1x ease;
}
