body {

}

.center {
  text-align: center;
}

.left-spacing {
  margin-left: 20px;
}

.top-spacing {
  margin-top: 40px;
}

.section {
  padding-top:70px;
  padding-bottom: 30px;
}

.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: all 1x ease;
}
