/* red: #ff3232 */
.jobHeader {
  background-color: #337ab7;
  color: white;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.jobRole {
  border: 1px solid black;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
