#navbar p {
  margin-bottom: 0px;
  color: #4d4d4d;
}

#navbar div {
  padding-left:0px;
  padding-right:0px;
}

#navbar-collapse-tabs {
  transition-duration: 2s;
}


.active {
  border-bottom: 5px solid #337ab7;
}

.active p {
  font-weight: bold;
}
