#projects {
  padding-bottom: 120px;
  padding-right: 120px;
  padding-left: 120px;
}

.project {
  background-color: lightgray;
  height: 200px;
  width: 75%;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

.projectTitle {
  font-family:Helvetica;
}

#project2Title {
  font-family:Helvetica;
  color:white;
  background-color:#337ab7;
}

#project1Title {
  font-family:Helvetica;
  color:white;
  background-color:#337ab7;
}

#mainProjectContainer {
  display:flex;
  flex-direction:row;
  margin-top:40px;
}

.projectContainer {
  height:300px;
  width:450px;
}
