#projects {
  padding-bottom: 120px;
  padding-right: 120px;
  padding-left: 120px;
}

.project {
  background-color: lightgray;
  height: 200px;
  width: 75%;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
}

#project1 {

}

#project2 {

}

.arrowCol {
  height:500px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.sliderArrow {
  opacity: 0.6;
}

.dot {
  opacity:0.3;
}

.activeDot {
  opacity: 1;
}
